body,
html {
    margin: 0;
    padding: 0;
    background-color: #444749;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: #313334;
    text-align: center;
    box-shadow: 0px 1px 1px 0px #000000;
    padding: 5px;
}

nav {
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #313334;
    padding-top: 45px;
}

input[type="text"] {
    border-radius: 10px;
    padding: 5px;
    border: none;
}

i {
    color: #ffffff;
}

.title {
    color: #fefefe;
}

.nav-item {
    margin: 0 auto;
}

.right-panel {
    width: 4%;
    height: 100%;
    right: 0;
    position: fixed;
    background-color: #313334;
    padding-top: 40px;
}

.right-panel div {
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}

.right-panel div:hover {
    opacity: 0.7;
}

.view {
    width: 76%;
    position: absolute;
    left: 20%;
    padding: 50px 25px;
}

.wrapper {
    margin: 0 auto;
}

.movie-survey {
    width: 200px;
    height: 250px;
    float: left;
    margin: 10px;
    background-color: #000000;
    text-align: center;
}

.movie-survey:hover {
    box-shadow: 0 0 3px 3px #444749;
    cursor: pointer;
    opacity: 0.7;
}

.movie-survey img {
    width: 100%;
    height: 100%;
}

.movie-survey .movie-title {
    color: #ffffff;
    font-weight: bold;
}

.view.movie-detail {
    padding: 0;
    display: none;
}

.cover {
    width: 100%;
    height: 500px;
}

.cover img {
    position: absolute;
    width: 100%;
}

.view.movie-detail .movie-survey {
    z-index: 1;
    position: absolute;
    border: 10px solid #444749;
}

.navigation {
    margin: 60px 30px;
    position: absolute;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navigation:hover {
    cursor: pointer;
    color: #444749;
}