/* line 2, D:/sources/kaaaltos/css/style.scss */
body, html {
  margin: 0;
  padding: 0;
  background-color: #444749;
  width: 100%;
  height: 100%; }

/* line 10, D:/sources/kaaaltos/css/style.scss */
header {
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-color: #313334;
  text-align: center;
  box-shadow: 0px 1px 1px 0px #000000;
  padding: 5px; }

/* line 21, D:/sources/kaaaltos/css/style.scss */
nav {
  width: 20%;
  height: 100%;
  float: left;
  position: fixed;
  background-color: #313334;
  padding-top: 45px; }

/* line 30, D:/sources/kaaaltos/css/style.scss */
input[type="text"] {
  border-radius: 10px;
  padding: 5px;
  border: none; }

/* line 36, D:/sources/kaaaltos/css/style.scss */
i {
  color: #ffffff; }

/* line 40, D:/sources/kaaaltos/css/style.scss */
.title {
  color: #fefefe; }

/* line 44, D:/sources/kaaaltos/css/style.scss */
.nav-item {
  margin: 0 auto; }

/* line 48, D:/sources/kaaaltos/css/style.scss */
.right-panel {
  width: 4%;
  height: 100%;
  right: 0;
  position: fixed;
  background-color: #313334;
  padding-top: 40px; }

/* line 57, D:/sources/kaaaltos/css/style.scss */
.right-panel div {
  cursor: pointer;
  margin: 0 auto;
  text-align: center; }

/* line 63, D:/sources/kaaaltos/css/style.scss */
.right-panel div:hover {
  opacity: 0.7; }

/* line 67, D:/sources/kaaaltos/css/style.scss */
.view {
  width: 76%;
  position: absolute;
  left: 20%;
  padding: 50px 25px; }

/* line 74, D:/sources/kaaaltos/css/style.scss */
.wrapper {
  margin: 0 auto; }

/* line 78, D:/sources/kaaaltos/css/style.scss */
.movie-survey {
  width: 200px;
  height: 250px;
  float: left;
  margin: 10px;
  background-color: #000000;
  text-align: center; }

/* line 87, D:/sources/kaaaltos/css/style.scss */
.movie-survey:hover {
  box-shadow: 0 0 3px 3px #444749;
  cursor: pointer;
  opacity: 0.7; }

/* line 93, D:/sources/kaaaltos/css/style.scss */
.movie-survey img {
  width: 100%;
  height: 100%; }

/* line 98, D:/sources/kaaaltos/css/style.scss */
.movie-survey .movie-title {
  color: #ffffff;
  font-weight: bold; }

/* line 103, D:/sources/kaaaltos/css/style.scss */
.view.movie-detail {
  padding: 0;
  display: none; }

/* line 108, D:/sources/kaaaltos/css/style.scss */
.cover {
  width: 100%;
  height: 500px; }

/* line 113, D:/sources/kaaaltos/css/style.scss */
.cover img {
  position: absolute;
  width: 100%; }

/* line 118, D:/sources/kaaaltos/css/style.scss */
.view.movie-detail .movie-survey {
  z-index: 1;
  position: absolute;
  border: 10px solid #444749; }

/* line 124, D:/sources/kaaaltos/css/style.scss */
.navigation {
  margin: 60px 30px;
  position: absolute;
  z-index: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

/* line 131, D:/sources/kaaaltos/css/style.scss */
.navigation:hover {
  cursor: pointer;
  color: #444749; }

/*# sourceMappingURL=style.css.map */